<%- include('../partials/header.ejs') %>
<div class="container mt-5 text-page-details">
  <div class="row">
    <div class="col-md-6">
      <img
        src="<%= product.image_url %>"
        alt="Product Image"
        class="img-fluid rounded"
      />
    </div>
    <div class="col-md-6">
      <h1 class="display-5 mb-3"><%= product.name %></h1>
      <p class="text-category-page-details">
        Category: <strong><%= product.category %></strong>
      </p>
      <h2 class="text-success mb-4"><%= product.price %></h2>
      <p><%= product.description %></p>
      <form method="post" action="/product/checkout">
        <div class="mb-3">
          <input
            type="hidden"
            id="name"
            name="name"
            value="<%= product.name %>"
          />
          <label for="quantity" class="form-label"
            >Estoque: <%= product.stockQuantity %></label
          >
          <input
            type="number"
            id="quantity"
            name="quantity"
            class="form-control w-25"
            min="1"
          />

          <!-- Campo oculto para Price -->
          <input
            type="hidden"
            id="price"
            name="price"
            value="<%= product.price %>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Buy</button>
        
      </form>
      <a href="/cart/cart-items/<%= product._id %>"  data-product-id="<%= product._id %>" class="btn btn-primary link-cart">Adicionar ao Carrinho</a>
                        
    </div>
  </div>

  <div class="mt-5">
    <h3>Product Details</h3>
    <table class="table table-bordered table-rounded">
      <tbody class="text-page-details">
        <tr>
          <th scope="row">Tamanho</th>
          <td><%= product.sizeOption %></td>
        </tr>
        <tr>
          <th scope="row">Cor</th>
          <td><%= product.colorOption %></td>
        </tr>
        <tr>
          <th scope="row">Caracteristicas</th>
          <td><%= product.productFeatures %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="comment-section">
  <h3>Deixe seu Comentário e Avaliação</h3>

  <!-- Formulário de Comentário -->
  <form class="comment-form" >
    <!-- Comentário -->
    <div class="mb-3">
      <label for="comment" class="form-label">Comentário</label>
      <textarea
        class="form-control"
        id="comment"
        name="comment"
        rows="4"
        placeholder="Deixe seu comentário"
        required
      ></textarea>
    </div>

    <!-- Avaliação por Estrelas -->
    <div class="mb-3">
      <label class="form-label">Avaliação</label>
      <div class="star-rating">
        <i class="bi bi-star" data-value="1"></i>
        <i class="bi bi-star" data-value="2"></i>
        <i class="bi bi-star" data-value="3"></i>
        <i class="bi bi-star" data-value="4"></i>
        <i class="bi bi-star" data-value="5"></i>
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-comment" data-productID="<%= product._id %>">
      Enviar Comentário
    </button>
  </form>

  <!-- Comentários Postados -->
  <div class="posted-comments">
    <h4>Comentários</h4>
    <% commentAll.forEach(comment => { %>
         <!-- Comentário Exemplo 1 -->
    <div class="comment">
      <div class="author"><%= comment.User.name %></div>
      <p>
        <%= comment.contentText %>
      </p>
    </div>
    <% }) %>
    

   
  </div>
</div>
<script src="/js/fetchAddToCart.js"></script>
<script>
  document
    .querySelector(".btn-comment")
    .addEventListener("click", async function (e) {
      e.preventDefault();
      const comment = document.getElementById("comment").value;
      const productID = this.getAttribute('data-productID');
      console.log("Produto ID:", productID)
      fetch(`/comment/review-comment/${productID}`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ comment: comment, productID: productID }),
      }).then(async (res) => {
        if (res.ok) {
          window.location.reload();
          console.log("Resposta em json", await res.json());
        }
      });
    });
</script>
<%- include('../partials/footer.ejs') %>
