<%- include('../partials/header.ejs') %>

<div class="container mt-5">
    <h2 class="text-center mb-4">Explore Nossos Produtos</h2>
    
    <div class="container mt-4">
        <h2 class="text-center mb-4 h2-text">Nossos Produtos</h2>
        <div class="row">
            <% products.forEach(product => { %>
            <!-- Produto 1 -->
            
            <div class="col-md-4">
                <div class="card text-page-home">
                        <div class="card-body">
                            <a href="product/product-details/<%= product._id %>">  
                                <img src="<%= product.image_url %>" class="card-img-top" alt="Produto 1">
                                <h5 class="card-title"><%= product.name %></h5>
                                <p class="card-text"><%= product.description %></p>
                                <p class="card-text"><strong><%= product.price %></strong></p>             
                                <a href="/cart/cart-items" class="btn btn-primary">Adicionar ao Carrinho</a>
                            </a>
                        </div>
                    
                </div>
            </div>
           
            <% }) %>
           
            
        </div>
    </div>
    

    <!-- Paginação -->
    <div class="d-flex justify-content-center mt-4">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item disabled">
                    <span class="page-link">Anterior</span>
                </li>
                <li class="page-item active" aria-current="page">
                    <span class="page-link">1</span>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Próxima</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<%- include('../partials/footer.ejs') %>
