<%- include('../partials/header.ejs') %>
 <!-- Banner (ajuste para substituir jumbotron) -->
 <div class="text-black text-center py-5 text-page-home">
    <h1 class="display-4">Bem-vindo à Nossa Loja!</h1>
    <p class="lead">Os melhores produtos para você.</p>
    <a href="/product/products-page" class="btn btn-light btn-lg btn-explore-products" >Paginar produtos</a>
</div>
 <!-- Barra de Pesquisa -->
 <div class="container mt-4 text-page-home">
    <form class="d-flex justify-content-center">
        <input class="form-control me-2" type="search" placeholder="Pesquisar produtos..." aria-label="Pesquisar">
        <button class="btn btn-search" type="submit">Pesquisar</button>
    </form>
</div>
<!-- Produtos -->
<div class="container mt-4">
    <h2 class="text-center mb-4 h2-text">Nossos Produtos</h2>
    <div class="row">
        <% products.forEach(product => { %>
        <!-- Produto 1 -->
        
        <div class="col-md-4">
            <div class="card text-page-home">
                    <div class="card-body">
                        <a href="product/product-details/<%= product._id %>">  
                            <img src="<%= product.image_url %>" class="card-img-top" alt="Produto 1">
                            <h5 class="card-title"><%= product.name %></h5>
                            <p class="card-text"><%= product.description %></p>
                            <p class="card-text"><strong><%= product.price %></strong></p>             
                            <a href="/cart/cart-items/<%= product._id %>"  data-product-id="<%= product._id %>" class="btn btn-primary link-cart">Adicionar ao Carrinho</a>
                        </a>
                    </div>
                
            </div>
        </div>
       
        <% }) %>
       
        
    </div>
</div>

<script src="/js/fetchAddToCart.js"></script>

<%- include('../partials/footer.ejs') %>
